/* .header-btn {
    margin: auto 2em;
    width: auto;
    flex-direction: column;
    width: auto;
}

.header-btn>button {
    width: 100%;
} */

@media screen and (max-width: 992px) {
	.header-btn > button {
		display: flex;
		margin: auto;
		width: 90%;
	}
}
