#graph-container>svg>* {

	max-width: max-content;
	max-height: max-content;
}

#graph-container {
	max-width: 80%;
	max-height: 600px;
	border-color: black;
}

.dark {
	background: #121212;
	color: #2e8b57;
}

.light {
	background-color: #fefefe;
	color: black;
} 